.slide {
  margin: 0 auto;
  width: 93%;
  justify-content: center;
  align-items: center;
}

.slideItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: flex;
  width: 150px;
  height: 180px;
  transition: filter 0.5s, transform 0.5s;
  margin-bottom: 35px;
}

.slide .active {
  height: 200px;
  filter: grayscale(0);
  transform: scale(1.2);
}

.slide .inactive {
  filter: grayscale(1);
  transform: scale(1);
}
