.banner {
  width: 470px;
  height: 255px;
  margin-top: 211px;
  margin-left: 120px;
  
}
.see {
  color: #f5c51c;
  width: 30%;
}
.lorem {
  font-weight: 200;
}
.controls {
  display: flex;
  gap: 16px;
  margin-top: 40px;
}
